# Public IP or Domain of the AWS EC2 instance
# Example: VITE_UAM_SERVICE_URL=http://3.123.45.67:8082
VITE_UAM_SERVICE_URL=http://localhost:8082
VITE_PRODUCT_ORDER_SERVICE_URL=http://localhost:8085
VITE_NOTIFICATION_SERVICE_URL=http://localhost:8084
